// Import all other files into this file.
// It will all be compiled into base.css
// Try to only put main componet styles here
// Follow https://smacss.com/ for guidelines

@import "colors";
@import "fonts";

body {
  h1 {
    font-family: $default-font;
    font-size: 36px;
    color: $primary-color;
  }
}
